.App {
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: #009999;
}

button {
	padding: 5px;
	margin: 2px;
	font-size: 18px;
	width: 36px;
}

.title {
	color: white;
	font-size: 48px;
}

.mainBox {
	border: 2px solid gray;
	border-radius: 20px;
	padding: 15px;
	background-color: white;
}

.timer {
	padding: 10px;
}

.timerButtons {
	margin: 10px;
}

.input {
	display: flex;
	justify-content: center;
	flex-direction: row;	
}

.output {
	border: 1px solid black;
	border-radius: 20px;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: black;
	color: white;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.output #title {
	font-size: 38px;
}

.breakStyle {
	color: blue;
}

.sessionStyle {
	color: red;
}

.outputButtons {
	margin-top: 20px;
}
